<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SharePointProcessingServiceSettings" type="VI.Projector.SharePoint.Implementations.SharePointProcessingServiceSettings, VI.Projector.SharePoint.V2013.Service" />
  </configSections>
  <SharePointProcessingServiceSettings>
    <CacheSettings>
      <CacheSetting schematype="SPFarm" enabled="true" />
      <CacheSetting schematype="SPWebApplication" enabled="true" />
      <CacheSetting schematype="SPUser" enabled="true" maxitems="100000" />
      <CacheSetting schematype="SPGroup" enabled="true" maxitems="100000" />
      <CacheSetting schematype="SPWeb" enabled="true" maxitems="10000" />
      <CacheSetting schematype="RoleAssignment" enabled="true" maxitems="500000" />
      <CacheSetting schematype="SPClaimProvider" enabled="true" />
      <CacheSetting schematype="SPLanguage" enabled="true" />
      <CacheSetting schematype="SPPolicy" enabled="true" />
      <CacheSetting schematype="SPPolicyRole" enabled="true" />
      <CacheSetting schematype="SPPrefix" enabled="true" />
      <CacheSetting schematype="SPQuotaTemplate" enabled="true" />
      <CacheSetting schematype="SPRoleDefinition" enabled="true" maxitems="100000" />
      <CacheSetting schematype="SPSite" enabled="true" />
      <CacheSetting schematype="SPWebTemplate" enabled="true" />
    </CacheSettings>
  </SharePointProcessingServiceSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>