<?xml version="1.0" encoding="utf-8"?>
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<include file="nlog-environment.config" ignoreErrors="true"/>

	<variable name="ccc_logBaseDir" value="${ccc_logHome}"/>

	<!-- Define layouts for log files. Possible values can be found here: https://github.com/NLog/NLog/wiki/Layout-Renderers -->
	<variable name="ccc_layout" value="${longdate} ${level:upperCase=true} [${mdc:item=logkey}] ${event-context:item=Indention}${message} ${exception:format=ToString,StackTrace}" />

	<targets async="true">
		<target name="ccc_logfile" xsi:type="File" fileName="${ccc_logBaseDir}/${replace:searchFor=ccc_:replaceWith=:ignoreCase=true:inner=${mdc:item=fname}}-${date:yyyyMMdd}.log" layout="${ccc_layout}" encoding="utf-8"
			archiveFileName="${ccc_logBaseDir}/${replace:searchFor=ccc_:replaceWith=:ignoreCase=true:inner=${mdc:item=fname}}-{#}.log" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" maxArchiveFiles="-1" archiveEvery="Day"/> 
	</targets>

	<rules>
		<logger name="CCCLogger" minlevel="Debug" writeTo="ccc_logfile"/>
	</rules>
	<!--         x        -->
</nlog>