<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       autoReload="true">
  <variable name="companyName" value="One Identity"/>
  <variable name="productTitle" value="One Identity Manager"/>
  <variable name="logBaseDir" value="${specialfolder:LocalApplicationData}/${companyName}/${productTitle}/${appName}"/>
  <extensions>
    <add assembly="QAM.Common.Logging"/>
  </extensions>

  <targets>
    <target name="logfile"
            xsi:type="File"
            keepFileOpen="false"
            fileName="${logBaseDir}/QAM.Client.Log.dlog"
            archiveFileName="${logBaseDir}/LogArchives/QAM.Client.Log.{#}.dlog"
            archiveAboveSize="10485760"
            maxArchiveFiles="10"
            archiveNumbering="Rolling"
            concurrentWrites="true"
            encoding="utf-8"
            layout="${LogViewXmlLayout}">
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="INFO" writeTo="logfile">
      <filters>
        <when condition="equals('${logger}','ObjectLog')" action="Ignore" />
        <when condition="equals('${logger}','SqlLog')" action="Ignore" />
        <when condition="equals('${logger}','StopWatch')" action="Ignore" />
      </filters>
    </logger>
  </rules>
</nlog>
